<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale0" />
  </head>

  <body>
    <h1 class="page-header"> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>
      <!-- <button id="start-button">Start</button> -->
      <!-- <button id="stop-button">Stop</button> -->

      <!-- <input id="context-input" type="file" class="form-control" accept="*" /> -->
      <!-- <h1> Context </h1>
      	<p id="text-results"></p> -->
      <div class="question-section">
        <h1 class="question-header"> Question </h1>
      	<p id="question"></p>
      </div>
      <div class="answer-section">
        <h1 class="answer-header"> Answer </h1>
      	<p id="answer"></p>
      </div>
      <div class="controls"> 
        <button id="question-button" class="control-button">Ask</button>
        <button id="show-answer" class="control-button">Answer</button>
      </div>
  </body>
</html>
