body {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 232, 226);
    color:rgb(196, 122, 72);
    font-family: system-ui;
    margin: 0;
    height: 100vh;

    .controls {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .control-button {
            background-color: rgb(196, 122, 72);
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            cursor: pointer;
        }
    }

    .question-section, .answer-section {
        height: 100%;
        margin-left: 8px;
        margin-right: 8px;
        visibility: hidden;
        transition: visibility 0.3s
    }

    .page-header {
        text-align: center; 
        color: rgba(164, 166, 113);
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 4mm ridge rgba(211, 220, 50, .6);
        font-family: "Gill Sans", sans-serif;

        #record-button {
          color: rgba(164, 166, 113);
          font-family: "Gill Sans", sans-serif;   
          font-size: inherit;    
          border: none;
          border-radius: 10px;
        }
    }
    .question {
        float: left;
        background-color: rgb(206, 202, 195);
        color: black;
        width: fit-content;
        border-radius: 5px;
        padding: 10px;
        margin-right: 100px;
    }

    .answer {
        float: right;
        background-color: rgb(206, 202, 195);
        color: black;
        width: fit-content;
        border-radius: 5px;
        padding: 10px;
        margin-left: 100px;
    }

    .question-header {
        text-align: left;
    }
    .answer-header {
        text-align: right;
    }
}